.search_container {
  display: flex;
  flex-direction: column;
  width: 398px;

  h4 {
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #637fa1;
    margin: 8px 0;
    padding: 8px 0;
  }

  .search_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    input {
      height: 50px;
      width: 398px;
      border-radius: 8px;
      background-image: url("../../../assets/search.svg");
      background-position: 365px 15px;
      background-repeat: no-repeat;
      border: 1px solid #96a9c0;
      text-indent: 10px;
      padding: 0 !important;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0;
      vertical-align: middle;

      &::placeholder {
        color: #989ea4;
      }

      &:focus {
        height: 48px;
        width: 396px;
        outline: none;
        text-indent: 9px;
        border-radius: 8px 0 8px 8px !important;
        border: 2px solid #1f6bc1 !important;
        background-position: 364px 14px;
      }
    }

    .dropdown_container {
      width: 390px;
      max-height: 286px;
      border-radius: 6px 0px 6px 6px;
      padding-bottom: 8px;
      background: #ffffff;
      box-shadow: 0px 3px 8px 0px #00000026;
      overflow-y: scroll;
      font-family: "OpenSans", sans-serif;

      .dropdown_header {
        height: 38px;

        .suggestions_header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 32px;
          margin: 2px 4px 4px 10px;

          .header_text {
            font-size: 12px;
            color: #707070;
            height: 32px;
            display: flex;
            align-items: center;
          }

          .header_close {
            height: 32px;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("../../../assets/close.svg");
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
          }
        }
      }

      .address_item {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 8px 10px;
        gap: 8px;
        cursor: pointer;
        color: #3c4044;

        &::ng-deep .address_value span {
          font-weight: 700 !important;
          transition: 0.1s ease-in-out;
        }

        .drill_down {
          width: fit-content;
          flex-shrink: 0;
          font-weight: 400;
          font-style: italic;
          color: #3c4044;
        }
      }

      .address_item:hover {
        &::ng-deep .address_value span {
          color: #000000 !important;
          transition: 0.1s ease-in-out;
        }
      }
    }

    /* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
    .dropdown_container::-webkit-scrollbar {
      width: 12px; /* Adjust scrollbar width */
      background-color: #fcfcfc;
      border-left: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
      border-radius: 0px 0px 6px 0px;
    }

    /* Scrollbar thumb (draggable part) */
    .dropdown_container::-webkit-scrollbar-thumb {
      background: #7a7a7a;
      border-radius: 100px;
      transition: background 0.3s;
      border: 3px solid transparent; /* Creates padding inside scrollbar */
      background-clip: content-box; /* Ensures thumb stays inside */
      cursor: pointer;
    }

    .dropdown_container::-webkit-scrollbar-thumb:hover {
      background: #555555;
      border-radius: 100px;
      transition: background 0.3s;
      border: 3px solid transparent; /* Creates padding inside scrollbar */
      background-clip: content-box; /* Ensures thumb stays inside */
      cursor: pointer;
    }

    /* Hide scrollbar arrows for WebKit browsers */
    /* Remove scrollbar arrows in WebKit browsers */
    .dropdown_container::-webkit-scrollbar-button:increment,
    .dropdown_container::-webkit-scrollbar-button:decrement {
      display: none !important;
      width: 0px !important;
      height: 0px !important;
      background: transparent !important;
    }
  }
}
