<div class="search_container">
  <h4>Shipping address</h4>
  <div class="search_bar">
    <input type="text" (keyup)="onKey($event)" (focus)="openDropdown()" placeholder="Enter postcode or address" />
    <div *ngIf="isDropdownOpen && addresses.options.length > 0 && searchLength.length > 0" class="dropdown_container">

      <div class="dropdown_header">
        <!-- headers for autocomplete -->
        <div class="suggestions_header">
          <div class="header_text">SUGGESTIONS</div>
          <div class="header_close" (click)="closeDropdown()"></div>
        </div>

      </div>
      <div class="address_item" *ngFor="let option of addresses.options" (click)="selectAddress(option)">
        <!-- <div class="address_value">{{ option.value }}</div> -->
        <div class="address_value" [innerHTML]="modifyAddressString(option.value)"></div>
        <div class="drill_down" *ngIf="option.suffix">{{ '(' + option.suffix + ')' }}</div>
      </div>

    </div>

  </div>
</div>