.search_container {
  display: flex;
  flex-direction: column;
  width: 398px;

  h4 {
    font-family: "OpenSans";
    font-weight: 600;
    font-size: 14px;
    color: #637fa1;
    margin: 8px 0px;
    padding: 8px 0;
  }

  .search_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    input {
      height: 50px;
      width: 398px;
      border-radius: 8px;
      background-image: url("../../../assets/search.svg");
      background-position: 365px 15px;
      background-repeat: no-repeat;
      border: 1px solid #96a9c0;
      text-indent: 10px;
      padding: 0 !important;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0px;
      vertical-align: middle;
    }

    input::placeholder {
      color: #989ea4;
    }

    input:focus {
      height: 48px;
      width: 396px;
      outline: none;
      text-indent: 9px;
      border-radius: 8px 0px 8px 8px !important;
      border: 2px solid #1f6bc1 !important;
      background-position: 364px 14px;
    }

    .dropdown_container {
      width: 390px;
      height: 286px;
      border-radius: 6px;
      padding-bottom: 8px;
      width: 378px;
      background: #ffffff;
      box-shadow: 0px 3px 8px 0px #00000026;
      overflow-y: scroll;

      .address_item {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 390;
        padding-top: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        gap: 8px;
        
        
        .address_value {
          font-weight: 700;
        }

        .drill_down {
          width: fit-content;
          flex-shrink: 0;
          font-weight: 400;
          font-style: italic;
          color: #3C4044;
        }
      }
    }
  }
}
