<div class="search_container">
  <h4>Shipping address</h4>
  <div class="search_bar">
    <input
      class="search_bar_input"
      type="text"
      [(ngModel)]="searchText"
      (keyup)="onKey($event)"
      (focus)="openDropdown()"
      placeholder="Enter postcode or address"
    />
    <div
      *ngIf="
        isDropdownOpen &&
        addresses?.options?.length > 0 &&
        searchLength.length > 0
      "
      #dropdownContainer
      class="dropdown_container"
    >
      <div class="dropdown_header">
        <!-- headers for autocomplete -->
        <div
          class="suggestions_header"
          *ngIf="addresses?.type === 'autocomplete'"
        >
          <div class="header_text">SUGGESTIONS</div>
          <div class="header_close" (click)="closeDropdown()"></div>
        </div>

        <div
          class="suggestions_header"
          *ngIf="
            addresses?.type === 'drilldown' || addresses?.type === 'filter'
          "
        >
          <div class="drilldown_header">
            <div (click)="back()" class="header_back"></div>
            <div class="header_text">
              {{ processAddress(addresses?.options?.[0])?.modifiedValue }}
            </div>
          </div>
          <div class="header_close" (click)="closeDropdown()"></div>
        </div>

        <div class="drilldown_search" *ngIf="shouldShowSearch">
          <input
            class="drilldown_search_input"
            type="text"
            (keyup)="onSearchInput($event)"
            placeholder="Filter by Apt, Suite, Unit, etc."
          />
        </div>

        <!-- was of filteredOptions instead of addresses.options  for client sided filtering-->
        <ng-container *ngFor="let option of addresses.options; let i = index">
          <div
            class="address_item"
            *ngIf="
              !(
                (addresses.type === 'drilldown' ||
                  addresses?.type === 'filter') &&
                option.value.includes('<')
              )
            "
            (click)="selectAddress(option)"
          >
            <div
              class="address_value"
              [innerHTML]="
                modifyAddressString(option.value, option.format.highlights)
              "
            ></div>
            <div class="drill_down" *ngIf="option.suffix">
              {{ "(" + option.suffix + ")" }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
