<div class="search_container">
  <h4>Shipping address</h4>
  <div class="search_bar">
    <input
      class="search_bar_input"
      type="text"
      (keyup)="onKey($event)"
      (focus)="openDropdown()"
      placeholder="Enter postcode or address"
    />
    <div
      *ngIf="
        isDropdownOpen &&
        addresses?.options?.length > 0 &&
        searchLength.length > 0
      "
      #dropdownContainer
      class="dropdown_container"
    >
      <div class="dropdown_header">
        <!-- headers for autocomplete -->
        <div
          class="suggestions_header"
          *ngIf="addresses?.type === 'autocomplete'"
        >
          <div class="header_text">SUGGESTIONS</div>
          <div class="header_close" (click)="closeDropdown()"></div>
        </div>

        <div class="suggestions_header" *ngIf="addresses?.type === 'drilldown'">
          <div class="drilldown_header">
            <div (click)="back()" class="header_back"></div>
            <div class="header_text">
              {{ processAddress(addresses?.options?.[0])?.modifiedValue }}
            </div>
          </div>
          <div class="header_close" (click)="closeDropdown()"></div>
        </div>

        <!-- <div class="drilldown_search" *ngIf="addresses?.type === 'drilldown'">
          <input class="drilldown_search_input" type="text" name="drilldown_search" id="drilldownSearch" placeholder="Filter by Apt, Suite, Unit, etc.">
        </div>

      </div>
      <ng-container *ngFor="let option of addresses.options; let i = index">
        <div
          class="address_item"
          *ngIf="!(addresses.type === 'drilldown' && i === 0)"
          (click)="selectAddress(option)"
        >
          <div
            class="address_value"
            [innerHTML]="modifyAddressString(option.value, option.format.highlights)"
          ></div>
          <div class="drill_down" *ngIf="option.suffix">
            {{ "(" + option.suffix + ")" }}
          </div>
        </div>
      </ng-container> -->

      <div class="drilldown_search" *ngIf="addresses?.type === 'drilldown'">
        <input
          class="drilldown_search_input"
          type="text"
          [(ngModel)]="searchQuery"
          placeholder="Filter by Apt, Suite, Unit, etc."
        />
      </div>
      
      <ng-container *ngFor="let option of filteredOptions; let i = index">
        <div
          class="address_item"
          *ngIf="!(addresses.type === 'drilldown' && option.value.includes('<'))"
          (click)="selectAddress(option)"
        >
          <div
            class="address_value"
            [innerHTML]="modifyAddressString(option.value, option.format.highlights)"
          ></div>
          <div class="drill_down" *ngIf="option.suffix">
            {{ "(" + option.suffix + ")" }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
